.recipecontainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    box-shadow: 0 3px 10px 0 #dfd1d1;
    background-color: white;
}
.img {
       height: 100px;
}
.name {
    font-size: medium;
    font-weight: bold;
    margin: 10px 0;
}
.details {
    font-size: medium;
    border: 1px solid green;
    color: green;
    text-align: center;
    margin-top: 1px;
}
.complete {
    font-size: medium;
    border: 1px solid rgba(228, 66, 26, 0.438);
    color: rgba(228, 66, 26);
    text-align: center;
    margin-top: 10px;
}

